body{
    background-color: antiquewhite;
}
button{
    background-color: blue;
    color: aliceblue;
}

h1{
    font-weight: 600;
    font-size: 50px;
}
span{
    font-size: 20px;
    font-weight: 900;
}